html {
  background-color: steelblue;
}

@font-face {
  font-family: TruenoRegular;
  src: url('../fonts/TruenoRg.otf');
}
@font-face {
  font-family: TruenoRegularItalic;
  src: url('../fonts/TruenoRgIt.otf');
}

h2, h3 {
  font-family: 'TruenoRegular';
}
li {
  font-style: italic;
}

tr:nth-child(even) {
  background-color: #a8b6cc;
}

tr:nth-child(odd) {
  background-color: #a4a8b0;
}

tr {
  font-style: italic;
}

.main {
  background-image: url("../img/bestofvh1.jpg");
  background-position: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.centertext {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #aa935b;
}
