html {
  background-color: steelblue;
}

tr:nth-child(even) {
  background-color: #a8b6cc;
}

tr:nth-child(odd) {
  background-color: #a4a8b0;
}

tr {
  font-style: italic;
}

.main {
  background-image: url("../img/bestofvh1.jpg");
  background-position: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.centertext {
  text-align: center;
}
